body {
    margin: 0;
}

h1 {
    margin: 0;
}

.title-container {
    background-color: #F4D160;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-shadow: 0px 2px 4px black;
    z-index: 10;
}

.title{
    margin: 0;
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    color: #1D5D9B;
    text-shadow: 3px 2px 1px black;
}

.game-container {
    margin-top: 2px;
    height: 85vh;
    width: 100%;
    background-color: #1D5D9B;
}

.player-container {
    display: flex;
    padding-top: 16px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;
}

.score-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.player {
    font-family: monaco,Consolas,Lucida Console,monospace;
    text-shadow: 3px 2px 1px black;
}

.one {
    color: #75C2F6;
}

.two {
    color: #FBEEAC;
}

.tic-container {
    display: grid;
    margin: 20px 40%;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.tic-button {
    background-color: #1D5D9B;
    border: solid black;
    font-size: 40px;
    color: #F4D160;
    text-shadow: 3px 2px 1px black;
}

.tic-button:hover {
    border-color: #FBEEAC;
}

.tic-top {
    border-top-width: 0px;
}

.tic-left {
    border-left-width: 0px;
}

.tic-bottom {
    border-bottom-width: 0px;
}

.tic-right {
    border-right-width: 0px;
}

.rematch-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.rematch {
    width: 150px;
    height: 45px;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: #75C2F6;
}

.rematch:hover {
    background-color: #75C2F6;
    color: white;
}